# Byte-compiled / optimized / DLL files
*__pycache__
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/

# PyCharm / VSCode
.idea/
.vscode/

# Logs
*.log

# --- PASTAS DE DADOS GERADOS (IGNORAR) ---
exports_semestrais/
relatorio_anual/