version: '3.8'

services:
  # --- BANCO DE DADOS POSTGRESQL ---
  db:
    image: postgres:15
    container_name: ggci_db
    environment:
      POSTGRES_USER: 4dmin_db
      POSTGRES_PASSWORD: 4dmin_db
      POSTGRES_DB: ggci_database
    ports:
      - "5433:5432"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    restart: always

  # --- APLICAÇÃO PYTHON (WEB + ROBÔ) ---
  web:
    build: .
    container_name: ggci_web
    ports:
      - "8051:8051"
    depends_on:
      - db
    environment:
      # Nome exato da sua máquina para o terminal
      HOST_PC_NAME: pcdelpo07
      POSTGRES_DB: ggci_database
      POSTGRES_USER: 4dmin_db
      POSTGRES_PASSWORD: 4dmin_db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./exports_semestrais:/app/exports_semestrais
      - ./relatorio_anual:/app/relatorio_anual
      - ./rel_pagamentos:/app/rel_pagamentos
    restart: always

volumes:
  postgres_data: