# --- FRAMEWORK VISUAL ---
dash==3.4.0
dash-bootstrap-components==2.0.4
dash-iconify==0.1.2
werkzeug

# --- DADOS ---
numpy==2.3.5
pandas==2.3.3
openpyxl

# --- BANCO DE DADOS ---
SQLAlchemy
psycopg2-binary==2.9.11

# --- AUTOMAÇÃO (SELENIUM) ---
selenium
webdriver-manager
fake-useragent
psutil